<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>523063655137-sjlhqqlnumeukmg1ltefs6m1go3rhc47.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.523063655137-sjlhqqlnumeukmg1ltefs6m1go3rhc47</string>
	<key>API_KEY</key>
	<string>AIzaSyDGRXidm185OXrBicoJir98pbJSdMYtsKM</string>
	<key>GCM_SENDER_ID</key>
	<string>523063655137</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.syject.twsl</string>
	<key>PROJECT_ID</key>
	<string>twsl-b1115</string>
	<key>STORAGE_BUCKET</key>
	<string>twsl-b1115.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:523063655137:ios:935b8a6821ba1d37c995a0</string>
</dict>
</plist>